#test_page_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    width: 200px;
    height: 30px;
    margin: 5px;
}