.trx-transactions-page-father {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 92% 8%;
}

.trx-transactions-page-container {
    grid-row: 1/2;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    max-height: 100%;
    overflow-y: scroll;
}

#trx-transactions-page-table {
    height: 100%;
    max-width: 100%;
}

#trx-transactions-page-header {
    display: grid;
    grid-template-columns: 65% 15% 20%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.trx-transactions-page-header-info {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
}

.trx-transactions-page-header-info-actions {
    display: flex;
    width: 100%;
    align-items: center;
    
}

.trx-transactions-page-header-info-actions-input{
    display: flex;
    flex-flow: column;
    width: 40%;
}

#trx-transactions-page-header-balance {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
}

.p-balance{
    margin: 0;
    padding: 0;
}