.register-page-father {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page-form {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.register-page-input{
    width: 100%;
}

.p-data-trearment{
    text-decoration: underline;
    color: blue;
}